section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}


.full-btn {
  width: 100%;       // make the actual Material button expand full width
}